{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{template "title" .}}</title>
  <link rel="stylesheet" href="public/css/bulma-0.9.3/bulma.css">
</head>
<body>
  {{template "header" .}}

  {{/*template "main" . */}}

  <footer class="footer">
    <div class="content has-text-centered">
      Powered by <a href="https://go.dev">Go</a> HTML Template
    </div>
  </footer>
</body>
</html>
{{end}}