{{define "title"}}
  {{.Title}}-Recycle & Reward System
{{end}}

{{define "main" }}
<section class="section">
  <div class="columns is-centered is-multiline">
    <!-- row #1 starts -->
    <div class="column is-4 has-text-centered">
      <div class="panel">
        <p class="panel-heading">
          STATUS
        </p>
        <div class="panel-block">
          You have logout successfully.
        </div>
        <div class="control">
          <a href="/">
            <div class="button mr-4 is-medium is-primary">OK</div>
          </a>
          <br>
        </div>
      </div>
    </div>
    <!-- row #1 ends -->
  </div>
</section>
{{end}}