{{define "title"}}
  {{.Title}}-Recycle & Reward System
{{end}}

{{define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline">
      
      <div class="column is-8">
        <div class="columns is-centered is-multiline">
          <!-- Plastic Recycled box starts -->
          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title is-3 has-text-white">PLASTIC<br>Recycled</h1>
              <h2 class="subtitle is-5 has-text-white">200 g</h2>
              <br>
            </div>
          </div>
          <!-- Plastic Recycled box ends -->
          <!-- Paper Recycled box starts -->
          <div class="column is-half has-text-centered">
            <div class="box has-background-danger">
              <h1 class="title has-text-white">PAPER<br>Recycled</h1>
              <h2 class="subtitle is-5 has-text-white">2000 g</h2>
              <br>
            </div>
          </div>
          <!-- Paper Recycled box ends -->
          <!-- Metal Recycled box starts -->
          <div class="column is-half has-text-centered">
            <div class="box has-background-danger">
              <h1 class="title has-text-white">METAL<br>Recycled</h1>
              <h2 class="subtitle is-5 has-text-white">1000 g</h2>
              <br>
            </div>
          </div>
          <!-- Metal Recycled box ends -->
          <!-- Glass Recycled box starts -->
          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title has-text-white">GLASS<br>Recycled</h1>
              <h2 class="subtitle is-5 has-text-white">2500 g</h2>
              <br>
            </div>
          </div>
          <!-- Glass Recycled box ends -->
          <!-- Vouchers Available box starts -->
          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title has-text-white">Vouchers<br>Available</h1>
              <h2 class="subtitle is-5 has-text-white">$50</h2>
              <br>
            </div>
          </div>
          <!-- Vouchers Available box ends -->
          <!-- Points Received box starts -->
          <div class="column is-half has-text-centered">
            <a href="/users/uid_123456/points_to_vouchers/redepmtion">
              <div class="box has-background-danger">
                <h1 class="title has-text-white">Points<br>Received</h1>
                <h2 class="subtitle is-5 has-text-white">1000</h2>
                <br>
              </div>
            </a>
          </div>
          <!-- Points Received box ends -->
          <!-- Reset Password box starts -->
          <div class="column is-half has-text-centered">
            <div class="box has-background-danger">
              <h1 class="title has-text-white">Reset<br>Password</h1>
              
              <br>
            </div>
          </div>
          <!-- Reset Password box ends -->
          <!-- Logout box starts -->
          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title has-text-white">Logout<br>-</h1>
              
              <br>
            </div>
          </div>
          <!-- Logout box ends -->
          <!-- Back box starts -->
          <div class="column is-half has-text-centered">
            <a href="/">
              <div class="box has-background-grey-dark">
                <h1 class="title has-text-white">Back to Home</h1>
              </div>
            </a>
          </div>
          <!-- Back box ends -->
        </div>
      </div>
    
    </div>
  </div>
</section>
{{end}}

