{{define "title"}}
  {{.Title}}-Recycle & Reward System
{{end}}

{{define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline">
      
      <div class="column is-8">
        <div class="columns is-centered is-multiline">
          
          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title has-text-white">PLASTIC Recycled</h1>
              <h2 class="subtitle is-size-5 has-text-white">200 g</h2>
              <br>
            </div>
          </div>
          
          <div class="column is-half has-text-centered">
            <div class="box has-background-danger">
              <h1 class="title has-text-white">PAPER Recycled</h1>
              <h2 class="subtitle is-size-5 has-text-white">2000 g</h2>
              <br>
            </div>
          </div>

          <div class="column is-half has-text-centered">
            <div class="box has-background-danger">
              <h1 class="title has-text-white">METAL Recycled</h1>
              <h2 class="subtitle is-size-5 has-text-white">1000 g</h2>
              <br>
            </div>
          </div>

          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title has-text-white">GLASS Recycled</h1>
              <h2 class="subtitle is-size-5 has-text-white">2500 g</h2>
              <br>
            </div>
          </div>

          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title has-text-white">Vouchers Available</h1>
              <h2 class="subtitle is-size-5 has-text-white">$50</h2>
              <br>
            </div>
          </div>

          <div class="column is-half has-text-centered">
            <div class="box has-background-danger">
              <h1 class="title has-text-white">Points Received</h1>
              <h2 class="subtitle is-size-5 has-text-white">1000</h2>
              <br>
            </div>
          </div>

          <div class="column is-half has-text-centered">
            <div class="box has-background-danger">
              <h1 class="title has-text-white">Reset Password</h1>
              <h2 class="subtitle is-size-5 has-text-white">-</h2>
              <br>
            </div>
          </div>

          <div class="column is-half has-text-centered">
            <div class="box has-background-primary">
              <h1 class="title has-text-white">Logout</h1>
              <h2 class="subtitle is-size-5 has-text-white">-</h2>
              <br>
            </div>
          </div>

        </div>
      </div>
    
    </div>
  </div>
</section>
{{end}}

